html { 
	overflow-y: scroll; 
	}
body {
	background: #00001b;
	overflow-x: hidden;
	height: 3900px;
	line-height: 1.5;
	color: white;
	font-size: 14px;
	font-family: futura, sans-serif;
}
h1 {
	color: #67ce00;
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#67ce00;
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		color: white;
		}
img { 
	display:block;
	}
p {
	margin:1em 0;
	}

hr {
	margin: 0;
	border: 2px solid #67ce00;
}

#wrapper {
	position: relative;
}

nav#primary {
	z-index: 4;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../img/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('../img/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -27px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
	}
nav.next-prev {
	margin: 20px 0 0 0;
	}
	a.prev,
	a.next {
		display: block;
		width: 15px;
		height: 11px;
		text-indent: -9999px;
		}
	a.prev {
		margin: 0 auto 5px auto;
		background: transparent url('../img/scroll-arrow-up.png') 0 0 no-repeat;
		}
		a.prev:hover {
			background: transparent url('../img/scroll-arrow-up.png') 0 -11px no-repeat;
			}
	a.next {
		margin: 5px auto 0 auto;
		background: transparent url('../img/scroll-arrow-down.png') -1px 0 no-repeat;
		}
		a.next:hover {
			background: transparent url('../img/scroll-arrow-down.png') -1px -11px no-repeat;
			}
			
#content {
	z-index: 4;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
	#content article {
		width: 300px;
		}
		#moon ,
		#alienone,
		#alientwo,
		#about {
			padding-top: 105px;
			}
		#moon {
			position: absolute;
			top: 0px;
			}
		#alienone {
			position: absolute;
			top: 1090px;
			}
		#alientwo {
			position: absolute;
			top: 2180px;
			}
			#content h1 {
				margin: 0 0 25px 0;
				font-size: 55px;
				font-family: futura, sans-serif;
				font-weight: bold;
				line-height: 55px;
				}
		#about {
			position: absolute;
			top: 3270px;
			}

#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; 
	top: 0;
	width: 940px;
	margin-left: -470px; 
	}
	
	#bg3-1 {
		position: absolute;
		top: 100px;
		left: 500px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 450px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 430px;
		}
	#bg3-4 {
		position: absolute;
		top: 2600px;
		left: 0px;
		}
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; 
	top: 0;
	width: 1200px;
	margin-left: -600px; 
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 890px;
		}
		
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%;
	top: 0;
	width: 1200px;
	margin-left: -600px; 
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 420px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: black;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #67ce00; }